.main {
  padding-top: 2em;
  padding-inline: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-btn {
  padding: 0.5em 1em;
  border-radius: 0.5em;
}
