.main {
  padding-top: 2em;
  padding-inline: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.create-type-container {
  display: flex;
  gap: 0.5em;

  button {
    flex: 1;
    font-size: 1.2rem;
    font-weight: var(--semibold);
    padding: 0.5em;
    background-color: var(--background-secondary);
    border-radius: 0.5em;
    justify-content: center;
    color: var(--secondary);
  }
  button.active {
    background-color: var(--accent);
    color: var(--primary);
  }
}
